* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.backImage {
  width: 100%;
  height: 200px;
  background-color: #F4B331;
  border-bottom: 3px solid black;
  overflow: hidden;
}

.backImage img {
  width: 120%;
  height: 120%;
  animation: zoom-in 3s;
}

@keyframes zoom-in {
  from {
    width: 100%; height: 100%;
  }
  to {
    width: 120%; height: 120%;
  }
}

.profileImage {
  width: 360px;
  height: 100px;
  display: flex;
  position: relative;
  margin-top: -80px;
  padding-left: 20px;
}

.profileImage .pic {
  width: 200px;
  height: 200px;
  background-image: linear-gradient(var(--primary), var(--secondary));
  border: 10px solid black;
  border-radius: 50%;
  overflow: hidden;
}

.profileImage .pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.description {
  display: flex;
}

.useProfile {
  position: relative;
  margin-left: 30px;
  text-align: justify;
  width: 40%;
  margin-top: 110px;
  padding-right: 10px;
  line-height: 3em;
}

.info {
  margin: 0 auto;
  width: 40%;
}

.info .title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.info .roomItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.roomInfo {
  width: 250px;
  padding: 15px;
  text-align: center;
  color: white;
  border-radius: 20px;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}
/* Agar benar-benar ter-center */
.roomInfo h4 {
  padding: 0px;
  margin: 0px;
}
.roomInfo:hover {
  transform: scale(103%);
}